
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions/v1/4m.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions/v1/4m.csv"
CONFIG_SR_WN_WN9_NIHAOXIAOZHI_TTS=y
CONFIG_ESP_TASK_WDT_TIMEOUT_S=20
CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=4096
CONFIG_SDMMC_HOST_SPI=y
CONFIG_SDMMC_USE_SPI_MODE=y
CONFIG_SD_SPI_USE_SPI_DMA=y
CONFIG_FATFS_SUPPORT_LONG_FILENAMES=y
CONFIG_FATFS_CODEPAGE_DYNAMIC=y